<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Source\Repos\L2Test\Deploy\L2Test.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>L2Test</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="L2TestConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=.\SQLEXPRESS;Initial Catalog=poops;Persist Security Info=True;User ID=temp;Password=Password1!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="L2Test.Models.ApplicationDbContext, L2Test" MigrationConfiguration="L2Test.Migrations.Configuration, L2Test" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Restore" Order="2" Enabled="False">
          <Destination Path="Data Source=.\SQLEXPRESS;Initial Catalog=master;Persist Security Info=True;User ID=temp;Password=Password1!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;Initial Catalog=Master;Persist Security Info=True;User ID=temp;Password=Password1!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Restore_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\SQLEXPRESS;Initial Catalog=Master;Persist Security Info=True;User ID=temp;Password=Password1!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)L2TestConnection-Web.config Connection String">
      <ParameterValue>Data Source=.\SQLEXPRESS;Initial Catalog=poops;Persist Security Info=True;User ID=temp;Password=Password1!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Restore-Web.config Connection String">
      <ParameterValue>Data Source=.\SQLEXPRESS;Initial Catalog=Master;Persist Security Info=True;User ID=temp;Password=Password1!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>