<!DOCTYPE html><html><head><meta charset='utf-8'/><meta name='viewport' content='width=device-width'/><link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'><link rel='stylesheet' type='text/css' href='C:\Source\Repos\L2Test\L2Test\L2Test\Content\Site.css'><title>L2 Test</title></head><body><!--
    
 _____           _           _     _         _      _____   _____         _   
|  __ \         | |         | |   | |       | |    / __  \ |_   _|       | |  
| |  \/ ___   __| | __ _  __| | __| |_   _  | |    `' / /'   | | ___  ___| |_ 
| | __ / _ \ / _` |/ _` |/ _` |/ _` | | | | | |      / /     | |/ _ \/ __| __|
| |_\ \ (_) | (_| | (_| | (_| | (_| | |_| | | |____./ /___   | |  __/\__ \ |_ 
 \____/\___/ \__,_|\__,_|\__,_|\__,_|\__, | \_____/\_____/   \_/\___||___/\__|
                                      __/ |                                   
                                     |___/                                    
    
Your test is timed, don't waste that time looking at source code!
--><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="/Content/bootstrap.css" rel="stylesheet">
<link href="/Content/site.css" rel="stylesheet">

    <script src="/Scripts/modernizr-2.6.2.js"></script>

    <title>L2 Test</title>
<style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
.en-markup-crop-options {
    top: 18px !important;
    left: 50% !important;
    margin-left: -100px !important;
    width: 200px !important;
    border: 2px rgba(255,255,255,.38) solid !important;
    border-radius: 4px !important;
}

.en-markup-crop-options div div:first-of-type {
    margin-left: 0px !important;
}
</style></head>
<body>
    <section class="TestPageContent">
        <div class="TimerFloat">
            <center><div id="timer">Time Remaining: 59:58</div></center>
        </div>
        <div class="SubmitFloat">
            <center><button id="SubmitButton" name="SubmitButton" class="btn btn-info" onclick="SendAnswers();">Submit Test for Grading</button></center>
        </div>
        <div>
            <ul class="Test" style="list-style-type:none">
                <li class="well" id="4029"><p class="TestQuestion">1: test question 1</p><p class="TestAnswer" id="VT9d4p5z29">A. 2</p><p class="TestAnswer SelectedAnswer" id="0mh8TIyTV8">B. 1</p></li><li class="well" id="4030"><p class="TestQuestion">2: test question 2</p><p class="TestAnswer" id="jxJP5fYgWY">A. 2</p><p class="TestAnswer" id="h7itO3cvmY">B. 1</p></li>
            </ul>
        </div>
    </section>
    <script src="../../Scripts/jquery-1.10.2.js"></script>
    <script src="../../Scripts/bootstrap.js"></script>
    <script src="../../Scripts/respond.js"></script>
    <script>
        //This script section needs to use jquery so that the above file paths are broken when archived preventing the selected answers from being changed and the test from being submitted.

        //Toggel which answer is selected
        $('.TestAnswer').click(function () {
            $(this).toggleClass('SelectedAnswer');
        });
        $('.SelectedAnswer').click(function () {
            $(this).toggleClass('TestAnswer');
        });

        //Count down time left before test auto submits
        var timeInMinutes = 60;
        var currentTime = Date.parse(new Date());
        var deadline = new Date(currentTime + timeInMinutes * 60000);//60000 milliseconds in a minute
        var testSubmitted = false;

        $(document).ready(startTimer(deadline));

        function startTimer(endtime) {
            var timer = document.getElementById('timer');
            var changeTime = setInterval(function myTimer() {
                var timeRemaining = getTimeRemaining(endtime);
                timer.innerHTML = 'Time Remaining: ' + timeRemaining.minutes + ':' + ('0' + timeRemaining.seconds).slice(-2);
                if (timeRemaining.total <= 0 && testSubmitted != true) {
                    clearInterval(changeTime);
                    SendAnswers();
                }
            }, 1000);
        }

        function getTimeRemaining(endtime) {
            var timeRemaining = Date.parse(endtime) - Date.parse(new Date());
            var seconds = Math.floor((timeRemaining / 1000) % 60); //1000 milliseconds in second, modulus 60 to only get remainder  after minutes have been accounted for.
            var minutes = Math.floor((timeRemaining / 60000)); //60000 milliseconds in a minute

            return {
                'total': timeRemaining,
                'minutes': minutes,
                'seconds': seconds
            };
        }

        function SendAnswers() {

            SanityCheck();

            var tech = 'b9Wuqk5h77';
            var htmlString = document.documentElement.innerHTML;

            //send snapshot of HTML before grading
            $.ajax({
                url: "http://localhost:55966/Home/TestArchive",
                type: "POST",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({ html: htmlString, tech: tech }),
            });

            var list = [];

            for (var i = 0; i < document.getElementsByTagName("li").length; i++) {
                var answer = {};
                var answers = [];
                var currentQuestion = document.getElementsByTagName("li")[i];

                answer.tech = tech;
                answer.question = currentQuestion.getAttribute("id");

                for (var n = 0; n < currentQuestion.childNodes.length; n++) {
                    if (currentQuestion.childNodes[n].className == "TestAnswer SelectedAnswer") {
                        answers.push(currentQuestion.childNodes[n].id);
                    }
                }

                answer.answers = answers;
                list.push(answer);
            }

            //Submit results for grading
            $.ajax({
                url: "http://localhost:55966/Home/TestResults",
                type: "POST",
                contentType: "application/json",
                dataType: "text",
                data: JSON.stringify(list),
                success: function (data) {
                    $('.TestPageContent').html(data);
                },
                error: function () {
                    alert("Test not graded, a lead will need to manually grade this test.");
                }
            });

            testSubmitted = true;
        }

        function SanityCheck(){
            var htmlString = document.documentElement.innerHTML;
            var answered = 0;
            var total = 0;

            for (var i = 0; i < document.getElementsByTagName("li").length; i++) {
                var selected = false;
                var currentQuestion = document.getElementsByTagName("li")[i];
                total++;

                for (var n = 0; n < currentQuestion.childNodes.length; n++) {
                    if (currentQuestion.childNodes[n].className == "TestAnswer SelectedAnswer") {
                        selected = true;
                    }
                }
                if (selected) {
                    answered++;
                }
            }

            //Change to activate a modal with submit button in it
            if(total == answered){
                alert("Are you sure you want to submit the answers?");
            }
            else{
                alert("You have " + (total - answered) + " questions without answers. Are you sure you want to submit the answers?")
            }
        }
    </script>

<!-- Visual Studio Browser Link -->
<script type="application/json" id="__browserLink_initializationData">
    {"appName":"Chrome","requestId":"1211e4341b9e4e3b9d09e319139a861e"}
</script>
<script type="text/javascript" src="http://localhost:51462/838acd7746984f09a330dafb570202d0/browserLink" async="async"></script>
<!-- End Browser Link -->


</body></body></html>